template
  require(from="./nav-bar")
  require(from="bootstrap/css/bootstrap.css")

  nav-bar(router.bind="router")

  div.page-host(style="background: white;")
    router-view

  loading-mask(show-mask.bind="showLoadingMask")
